# Managed by Terraform for Project Syn cluster ${cluster_id}
# ===========================================================
# This is an unfinished placeholder
# ===========================================================
profile_rancher_gateway::nodes:
%{ for node in nodes ~}
  - ${node}
%{ endfor ~}
profile_rancher_gateway::public_interface: ens3
profile_rancher_gateway::private_interfaces:
  - ens4
profile_rancher_gateway::floating_addresses:
  api: ${api_vip}
  nat: ${nat_vip}
  router: ${router_vip}
profile_rancher_gateway::floating_address_provider: cloudscale
profile_rancher_gateway::internal_vip: ${internal_vip}
profile_rancher_gateway::floating_address_settings:
  token: ${api_secret}
profile_rancher_gateway::backends:
  'api':%{ if length(backends["api"]) == 0 } []%{ endif }
%{ for be in backends["api"] ~}
    - ${be}
%{ endfor ~}
  'router':%{ if length(backends["router"]) == 0 } []%{ endif }
%{ for be in backends["router"] ~}
    - ${be}
%{ endfor ~}
